<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Saludo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Introduce tu nombre</h1>
        <form action="/greet" method="POST">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name">
            <button type="submit">Enviar</button>
        </form>
        <a href="/users">Ver lista de usuarios</a><br>
        <a href="/register">Registrar usuario</a>
    </div>
</body>
</html>